[loggers]
keys=root,hypercorn.access,hypercorn.error,werkzeug

[handlers]
keys=console, FileHandler

[formatters]
keys=colored_formatter

[logger_root]
level={{ log_level }}
handlers=console

[logger_hypercorn.access]
level={{ log_level }}
handlers=FileHandler
qualname=hypercorn.access
propagate=0

[logger_hypercorn.error]
level={{ log_level }}
handlers=console
qualname=hypercorn.error
propagate=0

[logger_werkzeug]
level={{ log_level }}
handlers=console
qualname=werkzeug
propagate=0

[handler_console]
class=StreamHandler
level={{ log_level }}
formatter=colored_formatter
args=(sys.stdout,)

[handler_FileHandler]
class=app.logging.log_colorizer.FileHandler
level={{ log_level }}
formatter=colored_formatter
args=("access.log",)

[formatter_colored_formatter]
class=app.logging.log_colorizer.ColorFormatter
format=[%(asctime)s] [%(levelname)s] %(message)s
datefmt=%Y-%m-%d %H:%M:%S %Z
