<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<h1 class="content">Password Reset</h1>

<form action="{{ url_for('main.password_reset_token', token=token) }}" method="POST" class="form">
	<div>
		<label for="password_1">Enter You New Password</label>
		<input type="password" id="password_1" name="password_1">
	</div>
	<div>
		<label for="password_2">Confirm Your New Password</label>
		<input type="password" id="password_2" name="password_2">
	</div>
	<button type="submit" class="button">Reset</button>
</form>

{% endblock %}
