/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e6e6e6;
  margin: 0;
  padding: 0;
}

/* Header Styles */

.header {
  background-color: #00698f;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.header a {
  color: #ffffff;
  text-decoration: none;
}

.header a:hover {
  color: #404040;
}

/* Navigation Styles */

.nav {
  background-color: #333333;
  padding: 10px;
  text-align: right;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin-right: 20px;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
}

.nav a:hover {
  color: #0083b3;
}

/* Content Styles */

.content {
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
  margin-bottom: 20px;
}

.content ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.content table {
  width: 100%;
  padding-right: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 10px;
  overflow-x: auto;
  text-align: left;
}

.content td, .content th {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.content a {
  color: #00698f;
  text-decoration: none;
}

.content a:hover {
  color: #0091e6;
}

/* Form Styles */

.form {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.form input[type="text"], .form input[type="email"], .form textarea{
  width: 20%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
}

.form input[type="checkbox"] {
  appearance: none; /* Removes default checkbox styling */
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #00698f;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.form input[type="checkbox"]:checked {
  background-color: #00698f;
  border-color: #004e73;
}

.form input[type="checkbox"]:checked::after {
  content: "✔";
  font-size: 16px;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form input[type="checkbox"]:hover {
  border-color: #0091e6;
}


.form input[type="password"] {
  width: 20%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
}

.form input[type="submit"] {
  background-color: #00698f;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #005a8f;
}


/* Button Styles */

.button {
  background-color: #00698f;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #005a8f;
}

.button a {
  color: #ffffff;
  text-decoration: none;
}

/* Footer Styles */

.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  clear: both;
}

.footer p {
  font-size: 12px;
  margin-bottom: 10px;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: #cccccc;
}

/* Flashed Messages Styles */

.flash {
  margin: 20px;
  color: #ffffff;
  background-color: #f2c14e;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Error Messages Styles */

.error {
  margin: 20px;
  color: #ffffff;
  background-color: #f2c14e;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error p {
  margin: 0;
  font-size: 20px;
}
