<!DOCTYPE html>

<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }} - WaypointsAndWonders</title>
        {% else %}
        <title> WaypointsAndWonders</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    </head>
    <body>
        <div class="header">
            <a href="{{ url_for('main.home') }}">
                <h1>WaypointsAndWonders</h1>
            </a>
        </div>
        <nav>
        <div class="nav">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('main.login') }}">Login</a>
            {% endif %}
        </div>
        </nav>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}

                        {% for message in messages %}
                        <div class="flash">
                            {{ message }}
                        </div>
                        {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>