<!DOCTYPE html>

<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }} - WaypointsAndWonders</title>
        {% else %}
        <title> WaypointsAndWonders</title>
        {% endif %}

    </head>
    <body>
        <div>
            <a href="{{ url_for('main.home') }}">
            WaypointsAndWonders
            </a>

        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>