<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<h1 class="content">Login</h1>

<form action="{{ url_for('auth.login') }}" method="POST" class="form" autocomplete="on">
	<div>
		<label for="username">Username</label>
		<input type="text" id="username" name="username" autocomplete="username">
	</div>
	<div>
		<label for="password">Password</label>
		<input type="password" id="password" name="password" autocomplete="current-password">
	</div>
	<div>
		<label for="remember_me">Remember Me</label>
		<input type="checkbox" id="remember_me" name="remember_me" autocomplete="remember-me">
	</div>
	<button type="submit" class="button">Login</button>
	<br>
	<br>
	<button type="button" class="button">
		<a href="{{ url_for('auth.signup') }}">Sign Up</a>
	</button>
	<button type="button" class="button">
		<a href="{{ url_for('auth.password_reset') }}">Forgot Password?</a>
	</button>
	<br>
	<br>
	<div class="oauth_google nav-item">
		<button type="button" class="button" style="padding: 5px 10px">
			<a href="{{ url_for('auth.login_google') }}">
				<img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" width="20px">
			</a>
		</button>
		<p class="hover-label">Google Login</p>
	</div>
</form>
{% endblock %}
